
@use "variables/variables"; 


@mixin h1($font-size, ) {
	font-size: 100px;
  
  color: $color_1;
	text-align: center;
	text-decoration: underline;
	margin: 0%;
}
body {
	background-color: $background-color_1;
}
.linkimportante {
  @extend .redsociales;
	display: flexbox; 
	align-content: center;
	padding: 10px;
	font-size: 28px;
	text-transform: uppercase;
}
.redsociales {
	a {
		color: $color_1;
		text-decoration: none;
	}
}
div {
	h2 {
		font-size: 16px;
		color: $color_1;
	}
	p {
		font-size: 15px;
	}
	li {
		color: $color_2;
		margin: 10px;
	}
}
.piedepagina {
	background-color: $background-color_2;
	display: flex;
	margin: 8px;
}
.h1galeria {
	text-decoration: none;
	font-size: 25px;
}
#carouselExampleCaptions {
	width: 50%;
	height: 40%;
}
h5 {
	color: $color_3;
	margin: 50px;
}
.spotify {
	display: grid;
	align-content: space-between;
}
.pindex {
	display: flexbox;
	padding: 20px;
}
.fila {
	display: flex;
}
.columna {
  @extend .fila;
	padding: 0%;
}
.galeria {
	img {
		width: 200px;
		margin: 3px;
		margin-left: 4px;
	}
}
.formulario {
	li {
		display: flex;
		border: 4px solid rgb(9, 62, 160);
		width: 16%;
		justify-content: center;
	}
}
@media (max-width: 480px) {
	.pindex {
		font-size: 17px;
	}
	.spotify {
		li {
			width: 100%;
		}
	}
}
