
@use "variables/variables" as*; 

h1{
	display: flex;
	margin: 3%;
	font-size: 25px;
  color: $color_1;
	text-align: center;
	text-decoration: underline;
	animation: myanimation 8s 1;
}
body {
	background-color: $background-color_1;
}
.linkimportante {
  @extend .redsociales;
	display: flexbox; 
	align-content: center;
	padding: 10px;
	font-size: 28px;
	text-transform: uppercase;
}
.redsociales {
	a {
		color: $color_1;
		text-decoration: none;
	}
}
div {
	h2 {
		font-size: 16px;
		color: $color_1;
	}
	p {
		font-size: 15px;
		animation: myanimation 8s 1;
		display: flex;
		margin-left: 4%;
	}
	li {
		color: $color_2;
		margin: 10px;
	}
}
.piedepagina {
	background-color: $background-color_2;
	display: flex;
	margin: 8px;
}
.h1galeria {
	text-decoration: none;
	font-size: 25px;
}
#carouselExampleCaptions {
	width: 50%;
	height: 40%;
}
h5 {
	color: $color_3;
	margin: 50px;
}
.spotify {
	display: grid;
	align-content: space-between;
		
}
.pindex {
	display: flexbox;
	padding: 20px;
}
.fila {
	display: flex;
}
.columna {
  @extend .fila;
	padding: 0%;
}
.galeria {
	img {
		width: 250px;
		margin: 3px;
		margin-left: 4	px;
        animation: myanimation 8s 1;
	}	
}
@keyframes myanimation{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.formulario {
	li {
		display: flex;
		width: 16%;
		justify-content: center;
	}
}


	.img1000{
		width: 200px;
		rotate: 270deg;
		display: flex;
		margin-left: 32%;
	}
	
	.img1{
		width: 450px;
		margin-left: 32%;
	}

	@media (max-width: 421px) {
  img {
    width: 5px;
  }
  .pindex {
    font-size: 17px;
  }
  .spotify li {
    width: 0%;
  }
}