p {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: left;
    margin: 10px;
}

h1 {
    color: rgb(255, 255, 255);
    font: size 100px;
    text-align: center;
    text-decoration: underline;
    margin: 0%;
}



body {
    background-color: rgb(137, 143, 141);
}

.linkimportante {
    display: flexbox;
    align-content: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 28px;
    text-transform: uppercase;

}




.redsociales a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

div h2 {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

div p {
    font-size: 15px;
}

.piedepagina {
    background-color: black;
}

div li {
    color: #ffffff;
    margin: 10px;
}

.h1galeria {
    text-decoration: none;
    font-size: 25px;
}

#carouselExampleCaptions {
    width: 50%;
    height: 40%;
}

h5 {
    color: black;
    margin: 50px;
}

.spotify {
    display: grid;
    align-content: space-between;

}

.pindex {
    display: flexbox;
    padding: 20px;
}

.fila {
    display: flex;

}

.columna {
    display: flex;
    padding: 0%;

}

.galeria img {
    width: 200px;
    margin: 3px;
    margin-left: 4px;
}

@media (min-width: 480px){
.pindex{
    font-size: 17px;
}
.spotify li{
    width: 100%;
    
}
}